.section {
	font-family: Tahoma;
	color: #333333;
}

.heder, .section-heder {
	font-size: 24px;
	line-height: 1.5;
	margin: 80px auto;
	
}

.heder strong, .section-heder {
	font-weight: 900;
}

.heder span {
	display: block;
}
.container {
	padding: 30px 0;
}
.form {
	border: 5px solid #234bc3;
	padding: 35px 20px	;
}
.form input {
	font-style: 18px;
	margin-bottom: 12px;
}
.form-heder {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	background-color: #234bc3;
	margin: 10px auto;
	font-style: 18px;
}
.featcher {
	margin: 60px auto;
}
.featcher p {
	margin-top: 20px;
}
.video {
	margin-bottom: 30px;
}
.featcher-box {
	font-weight: 900;
	font-size: 16px;
	height: 160px;
}
img {
	margin: 20px auto;
}

