body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.heder-menu {
  text-align: left;
  margin-bottom: 100px;
}

.container {
  text-align: left;
  display: inline-block;
  width: 800px;
  height: 500px;
  background: url('../img/Bordtab1.png') no-repeat;
  background-size: cover;
  padding: 19px 88px 37px 83px;
  box-shadow: inset 0 0 300px 200px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}


.korpus > div, .korpus > input {
  position: relative;
  display: none;
  z-index: 10;
  background-color: #000000;
}

.korpus label { 
  left: 20px;  
  border: 10px solid #FFFFFF; 
  border-radius: 5px;
  background-color:#FFFFFF;
  font-size: 24px;
  color: #080808;
  line-height: 24px; cursor: pointer; 
  position: relative; 
  bottom: 1px;
}
.korpus input[type="radio"]:checked + label { 
  border: 10px solid #03A3D8;
  border-radius: 5px;
  color: #FFFFFF;
  background: #039FD0; 
}

.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
  display: block; 
  padding: 5px; 
  border: 20px solid #03A3D8; 
  border-radius: 5px;
}
.inputform {
  text-align: center;
  margin-top: 80px;
}
.input-box {
  width: 482px;
  height: 61px;
  font-size: 24px;
  background-color: #1D1C1C;
  border: none;
  margin-bottom: 23px;
  border-radius: 5px;
}

.input-box::placeholder {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.inputform > a {
  text-align: left;
  display: block;
  margin: 0 0 0 60px;
  color:#C51F03;
  text-decoration: none;
}
.inputform > p {
  text-align: left;
  margin-top: 58px;
  margin-left: 60px;
  font-size: 15px;
  color: #4E4C4C;
}
.btn {
  position: absolute;
  height: 42px;
  width: auto;
  background-color: #CD2203;
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.5);
  border: none;
  right: -34px;
  bottom: 20px;
  font-size: 24px;
}
.triangel {
  position: absolute;
  width: 0; 
  height: 0;
  border-top: 23px solid #210100;
  border-right: 15px solid transparent;
  right: -35px;
  bottom: -2px;
}
.registr {
  margin-bottom: 100px;
}

